h1{
    background-color: rgb(63, 216, 21);
}
input{
    display: block;
    margin-bottom: 8px;

}
.inout-btn{
    background-color: rgb(72, 197, 26);



}
tr , td {
    border: 2px solid black;
}
.main-div{
    display:flex
}
.main-dev2{
    display:flex;

}
.navigation-list{
    display: flex;
    margin: 2px;
}
li{
    list-style-type: none;
    
}
